@tailwind base;
@tailwind components;
@tailwind utilities;

 /* width */
 ::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d0cfcf;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(86, 86, 86, 0.82);
  border-radius: 1px;
} 


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
@layer components {
  .scroll-bar-thin{
    scrollbar-color: red orange;
   scrollbar-width: thin;
  }
}


body {
@apply bg-indigo-400
  /*     */
/* 
  min-height: 100vh; */
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.c-card {
  img {    
    transition: transform .3s ease-in-out; 
  }
}
  .c-card:hover {
    img {
      transform: scale(1.05)
    }
  }


