@tailwind base;
@tailwind components;
@tailwind utilities;

 /* width */
 ::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d0cfcf;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(86, 86, 86, 0.82);
  border-radius: 1px;
} 
@layer components {
  .scroll-bar-thin{
    scrollbar-color: red orange;
   scrollbar-width: thin;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  overflow-x: hidden; 
background-color:  rgba( 129, 140 ,248, 0.82);
  /*     */
/* 129 140 248
  min-height: 100vh; */
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.c-card {
  img {    
    transition: transform .3s ease-in-out; 
  }
}
  .c-card:hover {
    img {
      transform: scale(1.05)
    }
  }


.loader {
	position: absolute;
	top: calc(50% - 15px);
	left: calc(50% - 15px);
	width: 30px;
	height: 30px;
	border: 4px solid #a9a9a9;
	border-top-color: #000;
	border-radius: 30px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(1turn);
	}
}

input:checked {
  background-color: #22c55e; /* bg-green-500 */
}

input:checked ~ span:last-child {
  --tw-translate-x: 1.75rem; /* translate-x-7 */
}

.my-input:focus {
  border: 0x solid #555;
}

